In [ ]:
# Test 2 (Data Structure - Solved)

1. What are data structures, and why are they important?

Answer :Data structures are ways to store and organize data. They help us keep things neat and easy to work with.

2. What is the difference between mutable and immutable data types?

Answer: Mutable: We can change it (like a list).
- Immutable: We can’t change it (like a string or tuple).
Example:
My_list = [1, 2, 3]
my_list.append(4) (It works)

my_string = "hello"
# my_string[0] = "H"  # it shows Error

3. What’s the difference between lists and tuples?

Lists can change, tuples cannot. Lists use square brackets [ ], tuples use round brackets ( ).

4. How do dictionaries store data?

Dictionaries store data in key-value pairs. Like a mini address book:
person = {"name": "Ali", "age": 20}

5. Why use a set instead of a list?

Sets don’t allow duplicates and are faster when checking if something exists.

6. What is a string in Python, and how is it different from a list?

A string is a sequence of character, represent and manipulate textual data. Example:text like "hello". A list is a group of items like [1, 2, 3]. Strings can’t be changed, but lists can.

7. How do tuples keep data safe?

Tuples can’t be changed after they’re made. This helps protect our data.

8. What is a hash table, and how does it relate to dictionaries?

A hash table is a fast way to store and find data. Python dictionaries use hash tables behind the scenes.

9. Can lists have different types of data?

Yes! A list can have numbers, text, or even other lists:
my_list = [1, "hello", 3.5, True]

10. Why are strings immutable?

Strings can’t be changed because it makes them faster and safer to use.

11. Why use dictionaries instead of lists sometimes?

Dictionaries are better when we want to label your data (like name, age) and find things quickly using a key.

12. When should I use a tuple instead of a list?

Use a tuple when we don’t want the data to change. Example: storing a date like (2025, 7, 10)

13. How do sets handle duplicates?

Sets automatically remove duplicates:
my_set = {1, 2, 2, 3}
print(my_set)  # {1, 2, 3}

14. How does the “in” keyword work in lists vs dictionaries?

- In a list: checks if a value is there
- In a dictionary: checks if a key is there

15. Can you change a tuple?

No. Tuples are immutable — we can’t add, remove, or change anything in them.

16. What is a nested dictionary? Example?

A dictionary inside another dictionary.
student = {
  "name": "Sara",
  "grades": {"math": 90, "science": 85}
}

17. How fast is it to get something from a dictionary?

it's very fast, Looking up a value by key is almost instant.

18. When are lists better than dictionaries?

Use a list when we only care about the order and don’t need labels.

19. Why are dictionaries called unordered?

Because they don’t always keep things in the order you added them (especially in older Python versions).

20. What’s the difference between a list and a dictionary for getting data?

- List: Use a number (index) to get something.
- Dictionary: Use a key (like a name).

my_list = [10, 20]
print(my_list[0])  # 10

my_dict = {"a": 10}
print(my_dict["a"])  # 10

**Practical Questions- Answers**

1. Write a code to create a string with your name and print it.

In [1]:
name = "Balkrishan"
print(name)

Balkrishan

2. Write a code to find the length of the string "Hello World"

In [3]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
text = "Python Programming"
print(text[:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.

In [7]:
word = "hello"
print(word.upper())

HELLO

In [8]:
#5. 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [11]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [12]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [13]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [17]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Printing the dictionary
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [29]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [30]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [32]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[4, 23, 37, 44, 88]

28. Write a code to create a list with strings and print the element at the third index.

In [33]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [34]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


30. Write a code to convert a list of strings into a set.

In [35]:
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana', 'cherry'}